
h1{
    color:green;
  }
img {
    width:150px;  
  }
#Nombre{
    font-family: Arial, Helvetica, sans-serif;
}
#Descripción{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#Educación{
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    width: 500px;
    padding: 50px;
    background-color;
    border-top-style: dashed;
    border-right-style: double;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-top-color: #00FF00;
    border-right-color: #00FF00;
    border-bottom-color: #00FF00;
    border-left-color: #00FF00;
  }
  #Experiencias{
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    width: 500px;
    padding: 50px;
    background-color;
    border-top-style: dashed;
    border-right-style: double;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-top-color: #00FF00;
    border-right-color: #00FF00;
    border-bottom-color: #00FF00;
    border-left-color: #00FF00;
  }
  #Skills{
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    width: 500px;
    padding: 50px;
    background-color;
    border-top-style: dashed;
    border-right-style: double;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-top-color: #00FF00;
    border-right-color: #00FF00;
    border-bottom-color: #00FF00;
    border-left-color: #00FF00;
  }
  #Hobbies{
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    width: 500px;
    padding: 50px;
    background-color;
    border-top-style: dashed;
    border-right-style: double;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-top-color: #00FF00;
    border-right-color: #00FF00;
    border-bottom-color: #00FF00;
    border-left-color: #00FF00;
  }
  #Expectativas{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }